body {
  margin: 0;
}

.encode {
  font-family: "Encode Sans Expanded", sans-serif;
}

.fade {
  background-color: transparent;
  animation: fadg 1s forwards;
}

@keyframes fadg {
  from {
    background-color: rgb(59 130 246);
  }
  to {
    background-color: transparent;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
